---
layout: default
title: Home
slug: home
---
<div class="updates" style="max-width: calc(800px - (30px * 2));margin-right: auto; margin-left: auto;">
  <div>
    <p>Welcome to the Montavilla Neighborhood Association. Please check back on this site regularly for updates, events, and updated open meeting records.</p>
  </div>
  
  <h2>Updates</h2>
</div>

<div class="post-list">
  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}

  {% include pagination.html %}
</div>
