<header class="header">

  <div class="overlay">


        <div class="topnav" id="myTopnav">
            <a href="{{ site.author.url }}/">Home</a>
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
            <a href="mailto:mna-email@montavillapdx.org">Contact</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        <strong>{{ site.title }}</strong>
      </h2>
    {% endif %}

  </div>

</header>
