<header class="header">

  <div class="overlay">

    <div class="container">

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">MNA</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ site.author.url }}/about" target="_blank">News</a></li>
          <li><a href="{{ site.author.url }}/about" target="_blank">Board</a></li>
          <li><a href="{{ site.author.url }}/about" target="_blank">Records</a></li>
          <li><a href="{{ site.author.url }}/about" target="_blank">Reources</a></li>
          <li><a href="{{ site.author.url }}/about" target="_blank">Email</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        Welcome to <strong>{{ site.title }}</strong>!
      </h2>
    {% endif %}

  </div>

</header>
